<style>
body {background-color: powderblue;}
h1   {color: blue;}
h1   {text-align: center;}
h1   {font-size: 300%;}
</style>

<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

</div>
